//Authorization
.window-back{
  padding: 100px 10px 0;
  > div{
    margin: 0;
    padding: 0;
  }
  #login-right{
    .box-shadow();
    .border-right-radius(30px);
    overflow: hidden;
    z-index: -1;
    img{
      height: 100%;
    }
  }
  .login-left{
    .box-shadow();
    .border-left-radius(30px);
    background-color: @white;
    height: 100%;
    padding: 30px;
    text-align: center;
    #auth-header{
      font-size: 26px;
      margin-bottom: 6px;
    }
  }
}
.window-background{
  background-color: @white;
  padding: 10px;
}
#process{
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 60px;
  padding: 10px;
  display: none;
  color: @white;
}
//Admin (after successful login)
#current-system{
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: @dark;
  color: @white;
}
.table{
  background-color: @white;
  padding: 5px;
  .status{
    font-size: 22px;
  }
  .event i{
    font-size: 16px;
  }
  .btn{
    margin: 0 1px 0;
  }
}
.button-event{
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 50px;
  *{
    margin: 1px;
  }
}
.im-alert-top{
  width: 100%;
  background-color: @light;
  z-index: 1;
  text-align: center;
  font-size: 16px;
  color: @dark;
}
.add-new{
  border: 1px solid @white;
  padding: 10px;
  margin: 10px 0 10px;
}
.collection-label{
  margin-top: 10px;
}
.edit{
  padding: 10px 10px 80px;
}
#scroll-top{
  position: fixed;
  bottom: 55px;
  right: 50px;
  cursor: pointer;
  display: none;
}
#content-top{
  z-index: 10;
  top: 0;
}
.section-breadcrumb{
  ul {
    padding: 5px;
    li {
      display: inline;
      margin:3px;
      a{
        color: @dark;
      }
    }
  }
}
#container{
  margin-top: 5px;
}