html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  opacity: 0;
  font-size: 14px;
  background: #ff9100;
  background: -moz-linear-gradient(135deg, #ff9100 0%, #bd3535 25%, #871b6f 60%, #a600ff 100%);
  background: -webkit-linear-gradient(135deg, #ff9100 0%, #bd3535 25%, #871b6f 60%, #a600ff 100%);
  background: linear-gradient(135deg, #ff9100 0%, #bd3535 25%, #871b6f 60%, #a600ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9100", endColorstr="#a600ff", GradientType=1);
}
.chosen-container {
  min-width: 250px;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.im-hide {
  display: none;
}
.im-alert {
  padding: 5px;
  background-color: #fff;
}
.dataTables_wrapper {
  margin-top: 12px;
}
.dataTables_length,
.dataTables_filter,
.dataTables_info {
  color: #fff;
}
.dataTables_filter input {
  background-color: unset !important;
  border-color: #fff;
  color: #fff !important;
}
.page-item.active .page-link {
  border: 1px solid #fff;
}
ul.pagination {
  font-size: 16px;
}
ul.pagination .page-link {
  background-color: unset !important;
  border: none;
}
ul.pagination .page-link i {
  color: #fff;
}
.custom-select {
  background-color: unset !important;
  border-color: #fff;
  color: #fff;
}
#select-system {
  padding-top: 12px;
}
.nice-select {
  background-color: unset !important;
  color: #fff !important;
}
.nice-select ul {
  background-color: #6c757d !important;
}
.nice-select ul li {
  background-color: #6c757d !important;
}
.dropdown-menu {
  background-color: #6c757d;
}
.dropdown-menu a {
  color: #fff;
}
.window-back {
  padding: 100px 10px 0;
}
.window-back > div {
  margin: 0;
  padding: 0;
}
.window-back #login-right {
  -webkit-box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  z-index: -1;
}
.window-back #login-right img {
  height: 100%;
}
.window-back .login-left {
  -webkit-box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.41);
  -webkit-border-top-left-radius: 30px;
  -moz-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fff;
  height: 100%;
  padding: 30px;
  text-align: center;
}
.window-back .login-left #auth-header {
  font-size: 26px;
  margin-bottom: 6px;
}
.window-background {
  background-color: #fff;
  padding: 10px;
}
#process {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 60px;
  padding: 10px;
  display: none;
  color: #fff;
}
#current-system {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: #343a40;
  color: #fff;
}
.table {
  background-color: #fff;
  padding: 5px;
}
.table .status {
  font-size: 22px;
}
.table .event i {
  font-size: 16px;
}
.table .btn {
  margin: 0 1px 0;
}
.button-event {
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 50px;
}
.button-event * {
  margin: 1px;
}
.im-alert-top {
  width: 100%;
  background-color: #f8f9fa;
  z-index: 1;
  text-align: center;
  font-size: 16px;
  color: #343a40;
}
.add-new {
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px 0 10px;
}
.collection-label {
  margin-top: 10px;
}
.edit {
  padding: 10px 10px 80px;
}
#scroll-top {
  position: fixed;
  bottom: 55px;
  right: 50px;
  cursor: pointer;
  display: none;
}
#content-top {
  z-index: 10;
  top: 0;
}
.section-breadcrumb ul {
  padding: 5px;
}
.section-breadcrumb ul li {
  display: inline;
  margin: 3px;
}
.section-breadcrumb ul li a {
  color: #343a40;
}
#container {
  margin-top: 5px;
}
.copy {
  font-size: 21px;
}
@media (max-width: 992px) {
  .login-left {
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
/*# sourceMappingURL=main.css.map */